<div id="container">
    <div id="hikers">
    <h4><%= @hikers.name %></h4>
        <span id="title">Here are the items you are responsible to bring</span>
            <ul>
                <% @hikers.items.each do |hiker| %>  
                    <li><%= hiker.name %></li>
                <% end %>
            </ul>
        </div>
</div>